@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border:0;
    outline:0;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77,181,255,0.4);
    --color-white:#fff;
    --color-light: rgb(177, 211, 214);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--color-bg);
    /* background-image: linear-gradient(to bottom, var(--color-bg) 0%, var(--color-bg-variant) 80%); */
    color: var(--color-white);
    line-height: 1.7;
}
/* universal styles :-) */

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1{
    font-family:'Permanent Marker', cursive;
    font-weight: 500;
}

a{
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover{
    color: var(--color-white);
    transition: var(--transition); 
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: .75rem 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.text-center {
    text-align: center;
}

section {
    margin-top: 8rem;

}

section > h2{
    text-align: center;
    color: var(--color-light);
    margin-bottom: 3rem;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }
}

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm)
    }
}
